default:
  suites:
    default:
      contexts:
        - Behat\MinkExtension\Context\MinkContext
        - OpenEuropa\Behat\TransformationContext:
            elements:
              html-tag: 'html'
            pages:
              home: 'index.php'
  extensions:
    Behat\MinkExtension:
      goutte: ~
      base_url: http://localhost:8000
